.frame {
    width: 132px;
    height: 240px;
    margin: 0 auto; /* 페이지 중앙에 나타나도록 설정 */

}

.card {
    width: 132px;
    height: 240px;
    background: #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5px;
}

.font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #606060;
}

.img {
    box-sizing: border-box;
    border: 3px solid #696969;
    border-radius: 15px;
}

.BT {
    background: #FFFFFF;
    border-radius: 15px;
    border: 3px solid #790F05;
}

.catebox {
    background: linear-gradient(10deg, #FFFFFF 0%, #FF6959 0.01%);
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

}