<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} %p %c [%method:%line] - %msg%n"/>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <logger name="AlsongDalsong_backend.AlsongDalsong.domain" level="ERROR"/>
    <logger name="org.springframework.boot" level="ERROR"/>
    <logger name="org.springframework.boot.devtools.restart" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="springfox" level="ERROR"/>
    <logger name="Validator" level="INFO"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.apache.http.impl.conn" level="ERROR"/>
    <logger name="log4jdbc" level="ERROR"/>
    <logger name="com.zaxxer" level="ERROR"/>
    <logger name="com.amazonaws" level="ERROR"/>
    <logger name="jdbc" level="ERROR"/>
    <logger name="jdbc.connection" level="ERROR"/>
    <logger name="jdbc.sqlonly" level="ERROR"/>
    <logger name="jdbc.sqltiming" level="ERROR"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="ERROR"/>
    <logger name="jdbc.audit" level="OFF"/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
