body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: HancomMalangMalang-Regular;
  font-weight: 900;
  src: url(../src/fonts/HancomMalangMalang-Regular.ttf);
}

@font-face {
  font-family: HancomMalangMalang-Bold;
  font-weight: 900;
  src: url(../src/fonts/HancomMalangMalang-Bold.ttf);
}

@font-face {
  font-family: GmarketSansTTFLight;
  font-weight: 900;
  src: url(../src/fonts/GmarketSansTTFLight.ttf);
}

@font-face {
  font-family: GmarketSansTTFMedium;
  font-weight: 900;
  src: url(../src/fonts/GmarketSansTTFMedium.ttf);
}

@font-face {
  font-family: GmarketSansTTFBold;
  font-weight: 900;
  src: url(../src/fonts/GmarketSansTTFBold.ttf);
}